@model List<MVCDemo.Models.Product>

<h1>Product List</h1>

<table class="table table-bordered table-condensed">
    <tr class="centered">
        <td>Product ID</td>
        <td>Name</td>
        <td>Description</td>
        <td>Category</td>
        <td>Price</td>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td class="centered">@item.ProductID</td>
        <td>@item.Name</td>
        <td>@item.Description</td>
        <td>@item.Category</td>
        <td class="money">@item.Price.ToString("C2")</td>
    </tr>
}
</table>



